:root {
    --color1: #22223B;
    --color2: #4A4E69;
    --color3: #9A8C98;
    --color4: #C9ADA7;
    --color5: #F2E9E4;
}

.content {
    height: 100dvh;
    z-index: -1;
    display: flex;
    margin-left: 10dvw;
    align-items: center;
    justify-content: space-around;
    padding-left: 1dvw;
    padding-right: 1dvw;
}

.portrait {
    background-image: url("imgs/me.jpg");
    background-position: center;
    background-size: cover;
    width: 25dvw;
    height: 70dvh;
    border-radius: 16px;
}

.text {
    padding: 20px;
    color: var(--color1);
    /*border: 2px #000000 solid;*/
    width: 50dvw;
}

.paragraph {
    margin: 0;
    margin-top: 10px;
    font-size: x-large;

    text-align: justify;
    text-justify: inter-word;
}

@media (max-width: 600px) {
    body {
        height: 120dvh;
        overflow-y: scroll;
    }
    .content {
        height: 100%;
        display: flex;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 1dvw;
        padding-right: 1dvw;
    }

    .portrait {
        background-image: url("imgs/me.jpg");
        background-position: 50% 20%;
        background-size: cover;
        width: 90dvw;
        height: 30dvh;
        border-radius: 16px;
        margin-top: 3dvh;
    }

    .text {
        color: var(--color1);
        width: 90dvw;
    }

    .paragraph {
        margin: 0;
        margin-top: 10px;
        font-size: x-large;

        text-align: justify;
        text-justify: inter-word;
    }
}