:root {
    --color1: #22223B;
    --color2: #4A4E69;
    --color3: #9A8C98;
    --color4: #C9ADA7;
    --color5: #F2E9E4;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', system-ui;
    background-color: var(--color5);
    overflow: hidden;
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    position: fixed;
    z-index: 2;
    background-color: var(--color1);
    width: 5vw;
    height: 80vh;
    margin-left: 1.5vw;
    margin-top: 10vh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1.7vw;
    box-shadow: 5px 5px 5px #000000;
    transition: 500ms;
    overflow: hidden;
}
nav:hover {
    width: 18vw;
    transition: 200ms;
}

h1 {
    margin: 0;
    font-size: 70px;
}

.navicon_text {
    text-decoration: none;
    display: flex;
    width: 15vw;
    align-items: center;
}

.navicon {
    width: 2.4vw;
    height: 2.4vw;
    padding: 0.4vw;
    border-radius: 16px;
    background-color: var(--color4);
    box-shadow: #000000 3px 3px 10px;
    transition: 200ms;
}
.navicon_text:hover > .navicon {
    width: 2.6vw;
    height: 2.6vw;
    background-color: var(--color5);
    transition: 200ms;
}

.navtext {
    width: 10vw;
    margin-left: 1vw;
    opacity: 0;
    transition: 300ms;
    font-size: large;
}
nav:hover .navtext{
    opacity: 1;
    color: #ffffff;
    transition: 300ms;
}
.navicon_text:hover > .navtext{
    font-weight: bold;
}

.nav_menu {
    visibility: hidden;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu_list {
    padding: 0;
    margin-top: 5vh;
}

.menu_bullet {
    list-style-type: none;
}

.header {
    height: 7vh;
    width: 100vw;
}

@media (max-width: 600px) {
    nav {
        visibility: hidden;
    }

    .nav_menu {
        position: fixed;
        top: -93vh;
        visibility: visible;
        height: 100vh;
        width: 100vw;
        background-color: var(--color1);
        transition: 1s;
    }
    .menu_active {
        transform: translateY(93vh);
        transition: 1s;
    }

    .nav_menu_title {
        margin-top: 3vh;
        font-size: 12vh;
        color: var(--color5);
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--color5);
        border: 2px var(--color5) solid;
        border-radius: 50px;
        height: 8vh;
        width: 55vw;
        font-size: 4vh;
        margin: 2vh;
        transition: .5s;
    }
    .link:hover, .active {
        background-color: var(--color5);
        color: var(--color1);
        transition: .5s;
    }

    .header {
        height: 7vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .open_button {
        -webkit-tap-highlight-color: transparent;
        cursor:pointer;
        border:none;
        height: 7vh;
        width: auto;
        padding: 0;
        transition-delay: 1s;
        transition: 200ms;
    }
    .menu_active .open_button{
        transform: rotateX(150deg);
        transition: 200ms;
    }
}