:root {
    --color1: #22223B;
    --color2: #4A4E69;
    --color3: #9A8C98;
    --color4: #C9ADA7;
    --color5: #F2E9E4;
}

body{
    display: flex;
}
.content {
    height: 65dvh;
    width: 60dvw;
    align-self: center;


    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
    
    margin-left: 20dvw;
}

.skill {
    color: var(--color5);
    background-color: var(--color2);
    border-radius: 16px;
    margin: 0.5dvw;
}

.skill-0, .skill-1, .skill-2 {
    padding-left: 1dvw;
    padding-top: 0.5dvh;
    padding-bottom: 0.5dvh;
    display: flex;
    flex-direction: column;
}

.skill-0 {
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.skill_title {
    font-size: 4dvh;
    margin: 0;
}

.skill_number {
    z-index: 2;
    align-self: flex-start;
    font-weight: 500;
    font-size: 10dvh;
    margin: 0;
    margin-left: -0.5dvw;

    padding: 0;
}

.lang {
    display: flex;
    align-items: center;
}

.flag {
    width: 3dvw;
    height: auto;
}

.lang_text {
    font-size: large;
    margin: 0;
    margin-left: 0.7dvw;
}

.skill-1 {
    grid-row: 2;
    grid-column: 1 / 2;
}

.skill-2 {
    grid-row: 2;
    grid-column: 2 / 3;
}

.skill-3 {
    grid-row: 1;
    grid-column: 1 / 3;


    display: flex;
    justify-content: center;
    align-items: center;
}


.skill-4 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;

    padding-top: 0.5dvh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.chart {
    height: 100%;
    width: auto;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15dvw;
    height: 15dvw;
    border-radius: 50%;
    background:
            radial-gradient(closest-side, var(--color2) 79%, transparent 80% 100%),
            conic-gradient(var(--color1) 18.18%, var(--color5) 0);
    margin-top: 8dvh;
}